<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-multicamera" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MultiCamera</name>
	<description>Cordova plugin for taking multiple pictures with your camera</description>
	<license>MIT</license>
	<keywords>cordova,android,google,pay,googlepay,google-pay</keywords>
	<repo>https://github.com/AndreAbascal/cordova-plugin-googlepay.git</repo>
	<issue>https://github.com/AndreAbascal/cordova-plugin-googlepay/issues</issue>

	<engines>
		<engine name="cordova" version=">=4.0.0"/>
	</engines>

	<js-module name="MultiCamera" src="www/MultiCamera.js">
		<clobbers target="MultiCamera" />
	</js-module>

	<platform name="android">
		<framework src="com.android.support:support-v4:27.0.2" />
		<framework src="com.android.support:support-v13:27.0.2" />
		<framework src="com.android.support:cardview-v7:27.0.2" />
		<framework src="com.android.support:appcompat-v7:27.0.2" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="MultiCamera">
				<param name="android-package" value="cordova.plugin.googlepay.MultiCamera"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="cordova.plugin.multicamera.CameraActivity"
				android:label="MultiCamera"
				android:theme="@android:style/Theme.AppCompat.Light.NoActionBar">
			</activity>
		</config-file>

		<source-file src="src/android/AutoFitTextureView.java" target-dir="src/cordova/plugin/googlepay" />
		<source-file src="src/android/Camera2BasicFragment.java" target-dir="src/cordova/plugin/googlepay" />
		<source-file src="src/android/CameraActivity.java" target-dir="src/cordova/plugin/googlepay" />
		<source-file src="src/android/MultiCamera.java" target-dir="src/cordova/plugin/googlepay" />
		<source-file src="src/android/xml/activity_camera.xml" target-dir="res/xml" />
		<source-file src="src/android/xml/fragment_camera2_basic.xml" target-dir="res/xml" />
	</platform>

</plugin>